<ion-header-bar align-title="center" class="bar-energized">
    <div class="title">
      <img class="logo-image" src="img/citywise-logo.svg" height="35px"/>
    </div>
</ion-header-bar>
<ion-content overflow-scroll="true" class="has-header">
  <div class="list">
      <div class="list">
        <div class="padding">
          <h4 style="color:#777;text-align:center;">Tell CityWise the location of the problem.</h4>
          <h3 style="text-align:center;">Tap or drag to move the marker.</h3>
        </div>
        <div id="map" data-tap-disabled="true">
        </div>
      </div>
  <div>
    <div class="form-nav-buttons">
      <div class="button-left">
        <a href="#/city-wise"> <button class="button button-dark button-outline button-border">Back</button></a>
      </div>
      <div class="button-right">
        <a href="#/city-wise3">  <button class="button button-dark button-outline button-border">Next</button></a>
      </div>
    </div>


  </div>

</div>
</ion-content>
