<ion-header-bar align-title="center" class="bar-energized">
    <div class="title">
      <img class="logo-image" src="img/city_wise_logo.svg" height="35px"/>
    </div>
</ion-header-bar>
<ion-content overflow-scroll="true" class="background padding has-header">
  <ion-slides options="swiper.options" slider="swiper.data.slider">
    <ion-slide-page>
      <div class="box padding">
        <div class="list">
          <label class="item item-input item-select">
          <div class="input-label">City
            <select name="ssCity" ng-model="form.city">
              <option selected>Fort Collins</option>
              <option>Boulder</option>
              <option>Denver</option>
            </select>
          </div>
          </label>
        </div>
        <div class="list">
          <label class="item item-input item-select">
          <div class="input-label">Category
          <select name="ssCategory" ng-model="form.category">
            <option selected>Roads</option>
            <option>Parks &amp; Rec</option>
            <option>Public Transit</option>
            <option>Utilities</option>
          </select>
          </div>
          </label>
        </div>
        <div class="list">
          <label class="item item-input">
            <textarea id="txtnotes" name="ssIssue" rows="10" placeholder="Issue" ng-model="form.issue"></textarea>
          </label>
        </div>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <ion-scroll zooming="true" direction="y" style="height: 80vh;">
        <div class="box map-box padding" style="height:500px;">

          <button class="button button-dark button-block" ng-show="SS.showPhotoButton" ng-click="SS.takePicture()">Add a photo</button>
          <div ng-hide="SS.showPhotoButton"><h4>Didn't like that photo? Feel free to try again.</h4></div>
          <div>
            <h4 form-label>Add a location</h4>
          </div>
          <div id="map" data-tap-disabled="true">

          </div>
        </div>
      </ion-scroll>
    </ion-slide-page>
  </ion-slides>
<div class="custom-swiper-pagination swiper-pagination"></div>
</ion-content>
