<ion-content scroll="false" class="background padding">
  <ion-slides options="swiper.options" slider="swiper.data.slider">
    <ion-slide-page>
      <div class="box">
        <div class="list">
          <label class="item item-input item-select">
          <div class="input-label">City
            <select name="ssCity" ng-model="form.city">
              <option selected>Fort Collins</option>
              <option>Boulder</option>
              <option>Denver</option>
            </select>
          </div>
          </label>
        </div>
        <div class="list">
          <label class="item item-input item-select">
          <div class="input-label">Category
          <select name="ssCategory" ng-model="form.category">
            <option selected>Roads</option>
            <option>Parks &amp; Rec</option>
            <option>Public Transit</option>
            <option>Utilities</option>
          </select>
          </div>
          </label>
        </div>
        <div class="list">
          <label class="item item-input">
            <textarea id="txtnotes" name="ssIssue" rows="10" placeholder="Issue" ng-model="form.issue"></textarea>
          </label>
        </div>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="box map-box">
        <button class="button button-dark button-block" ng-show="SS.showPhotoButton" ng-click="SS.takePicture()">Add a photo</button>
        <ion-toggle ng-model="ss.currLocation" toggle-class="toggle-energized">Use current location?</ion-toggle>
        <div id="map" data-tap-disabled="true">

        </div>
      </div>
    </ion-slide-page>
  </ion-slides>
<div class="custom-swiper-pagination swiper-pagination"></div>
</ion-content>
