<ion-content>
<div class="list">
  <label class="item item-input item-select">
  <div class="input-label">City
  <select>
    <option>Fort Collins</option>
    <option>Boulder</option>
    <option>Denver</option>
  </select>
  </div>
  </label>

  <label class="item item-input item-select">
  <div class="input-label">Category
  <select>
    <option>Roads</option>
    <option>Sanitation</option>
    <option>Public Safety</option>
  </select>
  </div>
  </label>

  <label class="item item-input">
    <span class="input-label">Comments</span>
    <textarea id="txtnotes"></textarea>
  </label>

  <button class="button button-dark button-block" ng-show="SS.showPhotoButton" ng-click="SS.takePicture()">Take a photo</button>
  <button class="button button-assertive button-block" ng-hide="SS.showPhotoButton">Submit your saySomething!</button>


</div>
</ion-content>
