/* Empty. Add your own CSS if you like */


/* login screen background image */
.background.scroll-content {
    background: url("../img/pexels-photo-68257.jpg") no-repeat;
    background-color: rgb(153, 122, 8);
    background-blend-mode: multiply;
    background-size: cover;
}

.yellow-pane {
  background: none;
}

.logo-image{
  margin-top: 5px;
}
/*.title {
  color: white;
}*/

.intro {
  margin-top: 0;
  margin-bottom: 10px;
}

.bar-light {
  background: none;
}

.swiper-slide img {
  max-height: none !important;
}

#logo-header {
  margin-bottom: 0;
  margin-top: 5px;
  text-align: left;
}


h2 {
  display: inline-block;
  color: white;
  margin-top: 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .9);
  background-color: rgba(0, 0, 0, .7);
}

h4 {
  display: inline-block;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .9);
  /*background-color: rgba(0, 0, 0, .7);*/
}

.swiper-pagination-bullet {
  color: white;
}
#google {
  color: black;
  text-shadow: none;
}

.question {
  margin-bottom: 20px;
}

#last-question {
  margin-bottom: 10px;
}

.scroll {
    height: 100%;
}

#map {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 55vh;
    max-width: none;
}

.custom-swiper-pagination {
  bottom: 5px;
  left: 0;
  width:100%;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
  background: #ffc900;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  margin: 0 5px;
}
