/* Empty. Add your own CSS if you like */


/* login screen background image */
.background.scroll-content {
    background: url("../img/pexels-photo-68257.jpg") no-repeat;
    background-color: rgb(184, 147, 12);
    background-blend-mode: multiply;
    background-size: cover;
}

.yellow-pane {
  background: rgba(255, 255, 255, 0.5);
}

.title {
  color: black;
}

h3 {
  margin-top: 0;
}

.question {
  margin-bottom: 20px;
}

.scroll {
    height: 100%;
}

#map {
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 80vw;
    height: 60vh;
    max-width: none;
}

.custom-swiper-pagination {
  bottom: 5px;
  left: 0;
  width:100%;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
}
