/* Empty. Add your own CSS if you like */
body {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

/* login screen background image */
.background {
    background: url("../img/pexels-photo-68257.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    background-color: rgb(153, 122, 8);
    background-blend-mode: multiply;
    background-size: cover;
}

.citywise-form {
  background-color:#ffffff;
}

.button-left {
  float:left;
}

.button-right{
  float:right;
}

.form-nav-buttons{
  padding-left: 10px;
  padding-right: 10px;
}

.left-bar {
  border-left: 1px solid gray;
}

.page-three{
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
/*.scroll {
  height: 100vh;
}*/

.category{
  margin-top: 10%;
}
.photo-button{
  margin-top: 10%;
}
.yellow-pane {
  background: none;
  margin-left: auto;
  margin-right: auto;
}

.logo-image{
  margin-top: 5px;
}

/*.title {
  color: white;
}*/
.form-list {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: white;
}

.intro {
  margin-top: 0;
  margin-bottom: 10px;

}

.bar-light {
  background: none;
}

/*.swiper-slide img {
  max-height: none !important;
}*/

.spinner svg {
  width: 60px;
  height: 60px;
}

#logo-header {
  margin-bottom: 0;
  margin-top: 5px;
  text-align: left;
}

h3{
  margin-top: 10px;
}

h2.login-answer {
  display: inline-block;
  color: white;
  margin-top: 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .9);
  background-color: rgba(0, 0, 0, .7);
}

h4.login {
  display: inline-block;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .9);
  font-size: 1.7em;
  /*background-color: rgba(0, 0, 0, .7);*/
}

#action {
  font-size: 1.4em;
  color:white;
  margin-left: 6%;
  margin-right: 6%;
}


textarea {
  font-size: 1.4em;
  line-height: 2;
  width: 80vw;
}

#google {
  color: black;
  text-shadow: none;
}

.question {
  margin-bottom: 10px;
  margin-right: 6%;
  margin-left: 6%;
}

#last-question {
  margin-bottom: 10px;
}


#map {
  width: 100vw;
  height: 40vh;
  max-width: none;
}

#txtnotes {
 color: #444;
 padding: 5px;
}


/*style placeholder text color*/

::-webkit-input-placeholder {
   color: #a2a2a2;
}

:-moz-placeholder { /* Firefox 18- */
  color: #a2a2a2;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #a2a2a2;
}

:-ms-input-placeholder {
   color: #a2a2a2;
}
